*{
    margin: 0;
    padding: ;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    max-width: 90vw ;
    margin: 20px; 
    padding: 20px;
    display: flex; 
    flex-direction: row;
    align-items: center ;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url(bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    gap: 20px

}

.box{
    width: 250px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    flex-shrink: 1;
    flex-grow: 1;

}

img{
    width: 100%;
}

.box1{
    background-color: #efa3cc;
}

.box2{
    background-color: #f77819;
}

.box3{
    background-color: #6adb9a;
}

.box4{
    background-color: #fff800;
}

.box5{
    background-color: #ffd400;
}

.box6{
    background-color: #eae4c5;
}

.box7{
    background-color: #fce6c8;
}

.box8{
    background-color: #7fe5d8;
}

.box9{
    background-color: #f4c4b3;
}

.box10{
    background-color: #f4d3a2;
}

.box11{
    background-color: #a962e8;
}

.box12{
    background-color: #7c34c1;
}
   
