@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
body{
    background-image: url(grey.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Cinzel", serif;
    font-size: 20px;
}

heading{ 
    font-family: "Cinzel", serif;"
    font-size: 50px;
}

subheading{ 
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.white{
    color:white;
    font-weight: bold;
}
